<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.havoc.updater.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.havoc.updater" android:priority="1" android:isStatic="true" />

    <application android:label="UpdaterOverlay" android:hasCode="false"/>
</manifest>
