<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.accents.holillusion"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:hasCode="false"
                 android:label="Holillusion Cyan" />
</manifest>
