<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.game.mode.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.game.mode" android:priority="1" android:isStatic="true" />

    <application android:label="GamingModeOverlay" android:hasCode="false"/>
</manifest>
