<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.launcher3.overlay"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="com.android.launcher3" android:priority="1" android:isStatic="true" />

    <application android:label="Shady QuickStep" android:hasCode="false"/>
</manifest>
